<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">
	<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
	
	<div class="container">
		<h2>List Blobs for Download</h2>
		<legend></legend>
		<p:messages showDetail="true" closable="true"/>


<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
      <form id="tab">
<h:dataTable styleClass="table table-condensed table-list-search"
		 value="#{repositorio.lista}" var="var" rendered="#{not empty repositorio.lista}" id="tabela1"
		 showCaption="true"
		 >

			<h:column>
				<f:facet name="header">
					<h:outputText value="Bolbs Uris" class="label label-info"/>
				</f:facet>
				<h5>
				<h:link value="#{var.uri}"/>
				</h5>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Options" class="label label-info"/>
				</f:facet>
				<h:form>
				<h:commandButton value="Download" action="#{storageControll.DownloadBlobls}" class="btn btn-primary btn-xs">
				<f:setPropertyActionListener target="#{storageControll.uri}" value="#{var.uri}"/>
				</h:commandButton>
				</h:form>
			</h:column>

</h:dataTable>
      </form>
		    	<div class="form-actions">
		<h:form>
				<h:commandButton value="Get the blobs StorageAzure" action="#{storageControll.ListarBlobs}"
				   styleClass="btn btn-primary" id="loading" data-loading-text="Loading..." />
		</h:form>
    	</div>			
      </div>
 </div>

		</div>
	</div>
	<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>
	
		
	</ui:define>
</ui:composition>