<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="theme-style.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="settings.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="prism.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="font-awesome.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="flexslider.css"></h:outputStylesheet>
 	<h:outputStylesheet library="css" name="custom-style.css"></h:outputStylesheet>
	<!-- <h:outputStylesheet library="css" name="bootstrap-responsive.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="bootstrap-responsive.min.css"></h:outputStylesheet> -->
	<h:outputStylesheet library="css" name="bootstrap-switch.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="clingify.css"></h:outputStylesheet>
	
	<h:outputScript library="js" name="tabs.js"></h:outputScript>
	
	<h:outputScript library="js" name="jquery.fileupload.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.fileupload-fp.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.fileupload-jui.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.fileupload-ui.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.iframe-transport.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.media.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.metadata.js"></h:outputScript>
	<h:outputScript library="js" name="modal.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-typeahead.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-tooltip.js"></h:outputScript>
	<h:outputScript library="js" name="theme.js"></h:outputScript>
	
	
	<h:outputScript library="js" name="bootstrap-hover-dropdown.min.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-switch.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.backstretch.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.clingify.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.fitvids.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.flexslider-min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jpanelmenu.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.quicksand.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.themepunch.plugins.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.themepunch.revolution.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery-migrate-1.2.1.min.js"></h:outputScript>
	<h:outputScript library="js" name="jRespond.js"></h:outputScript>
	<!-- <h:outputScript library="js" name="prism.js"></h:outputScript> -->
	<h:outputScript library="js" name="retina-1.1.0.min.js"></h:outputScript>
	<h:outputScript library="js" name="script.min.js"></h:outputScript>
	
	<title>Exception!!!</title>
</h:head>

	<h:body class="page page-404 page-centred">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>

      
      <!-- ======== @Region: #content ======== -->
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="row-90">
                <h2 class="error-code font-xs-x7 font-md-x10">
                  404 <img src="../resources/img/10.jpg" alt="Capa do Filme" class="fa fa-file-text primary-colour font-xs-x6 font-md-x10" />
                </h2>
                <h2 class="error-message font-xs-x2 font-md-x2">
                  Oops, This Page Could Not Be Found!
                </h2>
                <p class="error-details font-xs-x1">Aconteceu uma falha !!!! </p>
              </div>
            </div>
            <div class="col-md-4">
              <h4>
                Maybe you were looking for:
              </h4>
              <ul class="list-lg">
                <li><h:link value="Upload" outcome="/pages/upload" /></li>
              		<li><h:link value="Delete" outcome="/pages/delete" /></li>
              		<li><h:link value="Download" outcome="/pages/download" /></li>
              		<li><h:link value="List" outcome="/pages/list" /></li>
              		<li><h:link value="Images" outcome="/pages/images" /></li>
              		<li><h:link value="Filmes" outcome="/pages/filmes" /></li>
              		<li><h:link value="Listar Filme" outcome="/pages/listaFilme" /></li>
                    <li><h:link value="Novo Filme" outcome="/pages/insereFilme" /></li>
                    <li><h:link value="Página Filme" outcome="/pages/filme" /></li>
                    <li><h:link value="Nova Serie" outcome="/pages/insereSerie" /></li>
                  	<li><h:link value="Lista Serie" outcome="/pages/listaSerie" /></li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      <!--Hidden elements - excluded from jPanel Menu on mobile-->
      <div class="hidden-elements jpanel-menu-exclude">
        <!--@modal - signup modal-->
        <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">;</button>
                <h4 class="modal-title">
                  Sign Up
                </h4>
              </div>
              <div class="modal-body">
                <form action="signup.htm" role="form">
                  <h5>
                    Price Plan
                  </h5>
                  <select class="form-control">
                    <option>Basic</option>
                    <option>Pro</option>
                    <option>Pro +</option>
                  </select>
                  
                  <h5>
                    Account Information
                  </h5>
                  <div class="form-group">
                    <label class="sr-only" for="signup-first-name">First Name</label>
                    <input type="text" class="form-control" id="signup-first-name" placeholder="First name"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-last-name">Last Name</label>
                    <input type="text" class="form-control" id="signup-last-name" placeholder="Last name"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-username">Userame</label>
                    <input type="text" class="form-control" id="signup-username" placeholder="Username"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-email">Email address</label>
                    <input type="email" class="form-control" id="signup-email" placeholder="Email address"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-password">Password</label>
                    <input type="password" class="form-control" id="signup-password" placeholder="Password"/>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="term"/>
                      I agree with the Terms and Conditions. 
                    </label>
                  </div>
                  <button class="btn btn-primary" type="submit">Sign up</button>
                </form>
              </div>
              <div class="modal-footer">
                <small>Already signed up? <a href="login.htm">Login here</a>.</small>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        
        <!--@modal - login modal-->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                  Login
                </h4>
              </div>
              <div class="modal-body">
                <form action="login.htm" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="login-email">Email</label>
                    <input type="email" id="login-email" class="form-control email" placeholder="Email"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="login-password">Password</label>
                    <input type="password" id="login-password" class="form-control password" placeholder="Password"/>
                  </div>
                  <button type="button" class="btn btn-primary">Login</button>
                </form>
              </div>
              <div class="modal-footer">
                <small>Not a member? <a href="#" class="signup">Sign up now!</a></small>
                <br />
                <small><a href="#">Forgotten password?</a></small>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
	
	<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>
	
	
	</h:body>
	
</html>