<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.prime.com.tr/ui">


	<ui:define name="conteudo">
	<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
	
		<div class="container">
<h2>Photos gallery</h2>
<legend></legend>
<h:head>
		<!-- <h:outputStylesheet library="css" name="filtergrey.css"></h:outputStylesheet> -->
		<h:outputStylesheet library="css" name="gallery.css"></h:outputStylesheet>
</h:head>

<ui:repeat var="var" value="#{repositorio.lista}">  
                <p:lightBox >
                		<div class="col-md-3 col-sm-4 col-xs-6 img">
                		<a href="#{var.uri}" >      
                        <h:graphicImage class="img-responsive" value="#{var.uri}" width="320" height="240"
                        border="4" title="Click to download"/>
                        </a>
                        <h:outputText value="Teste hghwgdefdo"/>
                         <h:outputText value="Teste hghwgdefdo"/>
                        </div>
                            
                    
                </p:lightBox>  
        </ui:repeat>    
</div>
<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>

	</ui:define>

</ui:composition>