<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
	<div class="">	
	<div class="container">
	<h2>Insere Filme</h2>
	<legend></legend>
	<p:messages showDetail="true" closable="true"/>
	
	<h:form>

		<h:panelGrid columns="2">
		<p/>
		<h:outputText for="capauri" value="#{filmeBean.uri}" />
		<p/>
		<h5>
			<h:outputLabel for="titulo" value="Titulo do filme" />
		</h5> 
			<h:inputText class="form-control" id="titulo" label="titulo" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.titulo}" />
			
		<h5>	
			<h:outputLabel for="genero" value="Gênero" />
		</h5>
			<h:inputText class="form-control" id="genero" label="genero" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.genero}" />
			
		<h5>	
			<h:outputLabel for="data" value="Data de Estreia" />
		</h5>
			<h:inputText class="form-control" id="data" label="data" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.dataEstreia}" />
		
		<h5>	
			<h:outputLabel for="direcao" value="Direção" />
		</h5>
			<h:inputText class="form-control" id="direcao" label="direcao" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.direcao}" />
		
		<h5>	
			<h:outputLabel for="ano" value="Ano Lançamento" />
		</h5>
			<h:inputText class="form-control" id="ano" label="ano" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.anoLancamento}" />
		
		<h5>	
			<h:outputLabel for="duracao" value="Duração" />
		</h5>
			<h:inputText class="form-control" id="duracao" label="duracao" placeholder="Type something…"
			required="true" value="#{filmeBean.filme.duracao}" />
		
		<h5>	
			<h:outputLabel for="media" value="Média" />
		</h5>
			<h:inputText class="form-control" id="media" label="media" placeholder="Type something…"
			required="false" value="#{filmeBean.filme.media}" />
		
		<h5>	
			<h:outputLabel for="capa" value="Capa do filme" />
		</h5>
			
			<h:inputText class="form-control" id="capa" label="capa"
			required="false" value="#{filmeBean.filme.capa}" />
			
		
		<h5>	
			<h:outputLabel for="sinopse" value="Sinopse" />
		</h5>
			<h:inputTextarea rows="6" class="form-control" id="sinopse" 
			label="sinopse" required="true" value="#{filmeBean.filme.sinopse}" />
		
		<h5>	
			<h:outputLabel for="observacao" value="Observação" />
		</h5>
			<h:inputTextarea rows="6" class="form-control" id="observacao" 
			label="observacao" required="false" value="#{filmeBean.filme.observacao}" />
			
		</h:panelGrid>
		<p/>
		<div class="">
			<h:commandButton id="salvar" class="btn btn-primary" 
			 value="Salvar Tarefa" action="#{filmeBean.InsereFilme}" />
		</div>
		</h:form>
		<p/>
		
		<h:form>
               <h:inputText class="form-control" id="capa" label="capa" value="#{storageControll.capa}" />
               <p/>
                <h:commandButton value="Buscar" action="#{filmeBean.pegaCapa}" class="btn btn-primary"/>
                 <h:commandButton value="URIS" action="listaURIs" class="btn btn-primary"/>
         </h:form>
         <p/>
         
         <div class="span3 pull-right">
         <h:outputText for="capauri" value="#{storageControll.uriCapa}" />
         <!-- <img src="#{storageControll.uriCapa}" alt="Capa do Filme" width="320" height="240" class="media-object img-responsive" /> -->
         <img src="#{filmeBean.uri}" alt="Capa do Filme" width="320" height="240" class="media-object img-responsive" />
         <!-- <img src="http://i.imgbox.com/cFnnrfE5.jpg" alt="Picture of Alex" class="media-object img-thumbnail img-responsive" /> -->
         </div>

		
	</div>
	

<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>
</div>
	</ui:define>
	
</ui:composition>