<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:p="http://primefaces.org/ui">

	<ui:define name="conteudo">
	<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
	
	<div class="container">
		<h2>List Blobs</h2>
		<legend></legend>
		<p:messages showDetail="true" closable="true"/>

      
  <div class="">
   
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
      <form id="tab">
<h:dataTable styleClass="table table-condensed table-list-search"
		 value="#{repositorio.lista}" var="var" rendered="#{not empty repositorio.lista}" showCaption="true"
		 >

			<h:column>
				<f:facet name="header">
					<h:outputText value="" class="label label-info"/>
				</f:facet>
				 <div class="row">
					<div class="" >
					 <!-- <a class="thumbnail fancybox" rel="ligthbox" href="#{var.uri}" > -->
						<h:graphicImage value="#{var.uri}" width="320" height="240" class="img-thumbnail"
						alt="Image Description for #{var.uri}" title="Click to download"/> 
						
					</div>
				</div>
			</h:column>
						<h:column>
				<f:facet name="header">
					<h:outputText value="Options" class="label label-info"/>
				</f:facet>
				<h:form>
				<h:commandButton value="Delete" action="#{storageControll.DeleteBlobs}" class="btn btn-primary btn-xs pull-right">
				<f:setPropertyActionListener target="#{storageControll.nomeArquivo}" value="#{var.uri}"/>
				</h:commandButton>
				</h:form>
			</h:column>

</h:dataTable>
      </form>
		    	<div class="form-actions">
		<h:form>
				<h:commandButton value="Get the blobs StorageAzure" action="#{storageControll.ListarBlobs}"
				   styleClass="btn btn-primary" id="loading" data-loading-text="Loading..." />
		</h:form>
    	</div>		
      </div>

 </div>
</div>
</div>
<!-- <ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert> -->
			
	</ui:define>

</ui:composition>