<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
<h:head>
	<!--  <h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet> -->
</h:head>
	
	
	<div class="container">
	<h2>Lista de todas as bandas cadastradas</h2>
	<legend></legend>
	<p:messages showDetail="true" closable="true"/>
	
			<h:dataTable styleClass="table" value="#{ctlBean.listaBanda}" var="var">
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome da Banda" />
				</f:facet>
				<h5>
				<a href="#{var.nome}">
				<h:outputText value="#{var.nome}" />
				</a>
				</h5>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Email de Contato" />
				</f:facet>
				<h5>
				<h:outputText value="#{var.email}" />
				</h5>
			</h:column>
			
			<h:column>
				<h:form>
				<h:commandButton value="Visualizar Página da Banda" action="#{ctlBean.ListarBlobs}" styleClass="btn btn btn-small btn-inverse">
				<f:setPropertyActionListener target="#{ctlBean.nomeContainer2}" value="#{var.nome}" />
				</h:commandButton>
				</h:form>
			</h:column>

		</h:dataTable>
	</div>
	

<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
	</ui:insert>
	</ui:define>
	
</ui:composition>