<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
<h:head>
	 <!-- <h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet>
	 <h:outputStylesheet library="css" name="gallery.css"></h:outputStylesheet> -->
</h:head>
	
	
	<div class="container">
	<h2>Lista Serie</h2>
	<legend></legend>
	<p:messages showDetail="true" closable="true"/>
	
			<h:dataTable styleClass="table" value="#{serieBean.serieBanco}" var="var">
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="ID ÚNICO" />
				</f:facet>
				<h5>
				<h:outputText value="#{var.id}" />
				</h5>
			</h:column>
			 
			<h:column>
				<f:facet name="header">
					<h:outputText value="Título Filme" />
				</f:facet>
				<h5>
				<h:outputText value="#{var.titulo}"/>
				</h5>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Gênero Filme" />
				</f:facet>
				<h5>
				<h:outputText value="#{var.genero}"/>
				</h5>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Ano Lançamento" />
				</f:facet>
				<h5>
				<h:outputText value="#{var.anoLancamento}"/>
				</h5>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Nota Média"/>
				</f:facet>
				<h5>
				<h:outputText value="#{var.media}"/>
				</h5>
			</h:column>
			
			<!-- <h:column>
				<f:facet name="header">
					<h:outputText value="Sinopse"/>
				</f:facet>
				<h5>
				<h:outputText value="#{var.sinopse}"/>
				</h5>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="Obervações"/>
				</f:facet>
				<h5>
				<h:outputText value="#{var.observacao}"/>
				</h5>
			</h:column> -->

		</h:dataTable>

		
	</div>
	
	<!-- <ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
	</ui:insert> -->
	</ui:define>
	
</ui:composition>