<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>

      <div id="content">
        <div class="container" id="about">

          <div class="block features">
            <h2 class="title-divider">
              <span>Séries<span class="de-em"></span></span>
              <small>Fique por dentro do que há de novo.</small>
            </h2>
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/niki.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Nikita <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/arrow2.jpg" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Arrow <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/ahs2.jpg" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">American Horror History<span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/alphas2.jpg" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Alphas <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/csi2.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">CSI: Las Vegas <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/def2.png" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Defiance <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/dvd2.png" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">DaVinci's Demons<span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/glee2.jpg" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Glee <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/got2.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Game Of Thrones <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/grimm2.jpg" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Grimm <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/heroes2.jpg" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Heroes <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/hmy2.jpg" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">How I Met You Mother <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/mwk2.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">My Wife and Kids <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/rev2.jpg" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Revenge <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/rock2.jpg" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">30 Rock <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/smv2.jpg" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Smallville <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/spa2.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Spartacus <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/sup2.jpg" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Supernatural <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/tbbt2.jpg" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">The Big Bang Theory <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/thm2.jpg" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Two and half men <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/tm2.jpg" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">The Mentalist <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/twd2.jpg" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">The Walking Dead <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/vd2.jpg" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Vampire Diaries <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-4.png" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">99.9% <span class="de-em">Uptime</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-1.png" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Mobile <span class="de-em">Friendly</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-2.png" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">24/7 <span class="de-em">Support</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-3.png" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Free Upgrade <span class="de-em">Assistance</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-4.png" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">99.9% <span class="de-em">Uptime</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
             <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-1.png" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Mobile <span class="de-em">Friendly</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-2.png" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">24/7 <span class="de-em">Support</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-3.png" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Free Upgrade <span class="de-em">Assistance</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-4.png" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">99.9% <span class="de-em">Uptime</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          <div class="block features">
            
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-1.png" alt="Feature 1" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Mobile <span class="de-em">Friendly</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-2.png" alt="Feature 2" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">24/7 <span class="de-em">Support</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-3.png" alt="Feature 3" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">Free Upgrade <span class="de-em">Assistance</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="../resources/img/feature-4.png" alt="Feature 4" class="img-responsive" width="260" height="144"/>
                </a>
                <h3 class="title">
                  <a href="#">99.9% <span class="de-em">Uptime</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
         <h:form>
				<h:commandButton value="Download" action="#{containerBean.ListaContainer}" class="btn btn-primary"/>
		</h:form>

        </div>
      </div>
      
      <!-- ======== @Region: #content-below ======== -->
      <div id="content-below" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="upsell">
              
              
            </div>
          </div>
        </div>
      </div>

<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>

	</ui:define>
	
</ui:composition>