<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
<ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
</ui:insert>
	<div class="container">
	<h2>Upload Blobs</h2>
		<legend></legend>
	<p:messages showDetail="true" closable="true"/>
<div class="well">
	<h4>Selecione o arquivo e faça o download para o serviço de armazenamento</h4>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
      <br/><br/>
      
      	<!--AQUI DEVE SER INSERIDA A PARTE DA PRIMEIRA ABA  -->
			<h:panelGrid>
	
 					<h:form enctype="multipart/form-data" id="tab">
  
    						<p:fileUpload value="#{storageControll.file2}" mode="simple"/> 
    						<br/> 
  
    						<p:commandButton value="Upload Image" ajax="false" action="#{storageControll.Upload}" class="btn btn-success"
    						 data-toggle="modal" data-target="#processing-modal"/>  
  
					</h:form>
			</h:panelGrid>
      </div>
      
  </div>

</div>

</div>

<ui:insert name="footer">
		<ui:include src="/WEB-INF/templates/footer.xhtml" />
</ui:insert>

	</ui:define>
	
</ui:composition>