<ui:composition template="/WEB-INF/templates/geral.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets"
	 	xmlns:f="http://java.sun.com/jsf/core"
	 	xmlns:p="http://primefaces.org/ui">


	<ui:define name="conteudo">
    	 <a href="#content" class="sr-only">Skip to content</a> 
    
    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
      <div class="navbar-static-top">
        
        <!--Hidden Header Region-->
        <div class="header-hidden">
          <div class="header-hidden-inner container">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <h3>
                  About Us
                </h3>
                <p>Sómos um site com novidades sobre filmes e séries, tudo para manter você atualizado sobre suas 
                séries e filmes favoritos.</p> 
              </div>
              <div class="col-sm-4 col-md-4">
                <!--@todo: replace with company contact details-->
                <h3>
                  Contact Us
                </h3>
                <address>
                  <p>
                    <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
                    999999999999
                  </p>
                  <p>
                    <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
                    email@gmail.com
                  </p>
                  <p>
                    <abbr title="Address"><i class="fa fa-home"></i></abbr>
                    UFC Campus Quixadá
                  </p>
                </address>
              </div>
              <div class="col-sm-4 col-md-4">
                <!--Colour Switch for demo - @todo: remove in production-->
                <div class="colour-switcher">
                  <h3>
                    Divirta-se
                  </h3>
                  <p>Aproveite as novidades sobre séries e filmes e fique por dentro dos novos lançamentos.</p>
                  <p>Usuário Conectado: <h:outputLabel value="#{storageControll.name}" /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Header & Branding region-->
        <div class="header">
          <div class="header-inner container">
            <div class="row">
              <div class="col-md-8">
                <!--branding/logo-->
                <h:link class="navbar-brand" outcome="/index">
                  <h1>
                    <span>Bandas</span>+<span></span>
                  </h1>
                  </h:link>
                <div class="slogan">Divulgue sua banda</div>
              </div>
              
              <!--header rightside-->
              <div class="col-md-4">
                <!--social media icons-->
                <div class="social-media">
                  <!--@todo: replace with company social media details-->
                  <a href="#"><img src="http://g.etfv.co/http://www.twitter.com/" alt="Twitter" width="25" height="25" class="fa fa-twitter"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://www.facebook.com" alt="Facebook" width="25" height="25" class="fa fa-facebook"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://www.logmein.com/" alt="Facebook" width="25" height="25" class="fa fa-linkedin"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://plus.google.com" alt="Facebook" width="25" height="25" class="fa fa-google-plus"/></a>
                </div>
              </div>
            </div>
            <div id="header-hidden-link">
              <a href="#" title="Click me you'll get a surprise" class="show-hide" data-toggle="show-hide" data-target=".header-hidden"><i></i>Open</a>
            </div>
          </div>
        </div>
        
        <!--Change order for full width navbar <div class="navbar">
        <div class="container" data-toggle="clingify">
          --> 
          <div class="container" data-toggle="clingify">
            <div class="navbar">
              <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
              <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>
              
              <!--user menu-->
              <div class="btn-group user-menu pull-right">
              <a href="#signup-modal" class="btn btn-primary signup" data-toggle="modal">Sign Up</a>
              <a href="#login-modal" class="btn btn-primary dropdown-toggle login" data-toggle="modal">Login</a> 
              <a href="login.xhtml" class="btn btn-primary signup" data-toggle="modal">Logout</a>
              </div>
              
              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-collapse collapse">
                <!--main navigation-->
                <ul class="nav navbar-nav">
                  <li class="home-link">
                    <a href="#"><span class="hidden">Home</span></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle menu-item" id="features-drop" data-toggle="dropdown" data-hover="dropdown">Features +</a> 
                    <!-- Dropdown Menu - Mega Menu -->
                    <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="features-drop">
                      <li role="presentation" class="dropdown-header">Mega Menu with links text items</li>
                      <li role="presentation">
                        <ul class="row list-unstyled" role="menu">
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="resources/img/feature-1.png" alt="Feature 1" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>Mobile Friendly</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="resources/img/feature-2.png" alt="Feature 2" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>24/7 Support</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="resources/img/feature-3.png" alt="Feature 2" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>99% Uptime</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">Pages +</a> 
                    <!-- Mega Menu -->
                    
                    <ul class="dropdown-menu" role="menu" aria-labelledby="pages-drop">
                    <li><h:link value="Upload" outcome="/pages/upload" /></li>
              		<li><h:link value="Delete" outcome="/pages/delete" /></li>
              		<li><h:link value="Download" outcome="/pages/download" /></li>
              		<li><h:link value="List" outcome="/pages/list" /></li>
              		<li><h:link value="Images" outcome="/pages/images" /></li>
              		<li><h:link value="Videos da Banda" outcome="/pages/videosBanda" /></li>
              		
                                  
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="blog-drop" data-toggle="dropdown" data-hover="dropdown">Bandas</a> 
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="blog-drop">
                      <li><h:link value="Listar de Bandas" outcome="/pages/listaBandas" /></li>
                      <li><h:link value="Novo Filme" outcome="/pages/insereFilme" /></li>
                      <li><h:link value="Página da Banda" outcome="/pages/paginaBanda" /></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="more-drop" data-toggle="dropdown" data-hover="dropdown">Séries</a> 
                    <!-- Mega Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="more-drop">
                    <li><h:link value="Nova Serie" outcome="/pages/insereSerie" /></li>
                  	  <li><h:link value="Lista Serie" outcome="/pages/listaSerie" /></li>
                  	  <li><h:link value="Página Séries" outcome="/pages/Series" /></li>
                    </ul>
                  </li>
                  <li>
                  <a href="#" class="dropdown-toggle" id="more-drop">
                  Bem Vindo
                  <h:outputLabel value="#{storageControll.name}" />
                  </a>
                  </li>
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      
      <!-- ======== @Region: #highlighted ======== -->
<!-- <div id="highlighted">

        <div class="slider-wrapper tp-banner-container" data-page-class="slider-revolution-full-width-behind slider-appstrap-theme">
          <div class="tp-banner" data-toggle="slider-rev" data-delay="9000" data-startwidth="1100" data-startheight="590" data-fullWidth="off">
            <ul>

              <li class="slide" data-transition="fade" data-slotamount="5" data-masterspeed="1800">
                <img src="resources/img/white_wall_hash.png" alt="slidebg1" data-bgfit="normal" data-bgposition="left top" data-bgrepeat="repeat"/>

                <div class="slide-content">

                  <div class="tp-caption sfb ltl" data-x="10" data-y="50" data-speed="400" data-start="800" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Back.easeIn" data-captionhidden="on">
                    <img src="resources/img/slide1.png" alt="Slide 1" />
                  </div>
                  <h2 class="tp-caption customin randomrotateout" data-x="700" data-y="120" data-speed="400" data-start="1200" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-endspeed="400" data-endeasing="Back.easeIn">

                  </h2>
                  <h4 class="tp-caption customin randomrotateout" data-x="700" data-y="160" data-speed="400" data-start="1400" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-endspeed="400" data-endeasing="Back.easeIn">
                    By <a href="http://themelize.me">Márcio e Egila</a>
                  </h4>
                  <p class="tp-caption customin randomrotateout" data-x="700" data-y="190" data-speed="400" data-start="1600" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-endspeed="400" data-endeasing="Back.easeIn">Perfect for your App, Web service or hosting company!</p>
                  <a href="#" class="tp-caption customin randomrotateout btn btn-lg btn-primary" data-x="700" data-y="220" data-speed="400" data-start="1800" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-endspeed="400" data-endeasing="Back.easeIn">Buy Now</a> 
                </div>
              </li>

              <li data-transition="curtain-1" data-slotamount="4" data-masterspeed="500" >
                <img src="resources/img/lightpaperfibers.png" alt="slidebg1" data-bgfit="normal" data-bgposition="left top" data-bgrepeat="repeat"/>

                <div class="slide-content">

                  <div class="tp-caption sfb ltr" data-x="left" data-y="bottom" data-speed="900" data-start="1200" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                    <img src="resources/img/slide2-layer1.png" alt="Slide 2 layer 1" />
                  </div>
                  <div class="tp-caption sfb ltr" data-x="right" data-y="bottom" data-speed="700" data-start="1900" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                    <img src="resources/img/slide2-layer2.png" alt="Slide 2 layer 2" />
                  </div>
                  <div class="tp-caption sfb ltr" data-x="center" data-y="bottom" data-speed="900" data-start="1500" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                    <img src="resources/img/slide2-layer3.png" alt="Slide 2 layer 3" />
                  </div>
                  <h2 class="tp-caption largeblackbg sfb randomrotateout" data-x="center" data-y="30" data-speed="1500" data-start="2300" data-easing="Elastic.easeOut" data-endspeed="200" data-endeasing="Power0.easeInOut">
                    Filmes e Séries
                  </h2>
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
          </div>
          
        </div>
      </div> -->
      
       <div id="highlighted">
        <div class="inner">
          <section class="static-banner container">
            <div class="slide">
              <div class="col-md-7">
                <img src="resources/img/slide1.png" alt="Slide 1" class="img-responsive" />
              </div>
              <div class="col-md-5 caption">
                <h2>
                  Cinema AndTV.com
                </h2>
                <h4>
                  By <a href="#">Márcio Souza</a>
                </h4>
                <p>Tudo sobre Filmes e Séries!</p>
                 
              </div>
            </div>
          </section>
        </div>
      </div>
      
      
      <!-- ======== @Region: #content ======== -->
      <div id="content">
        <div class="container">
          <!-- Services -->
          <div class="block features">
            <h2 class="title-divider">
              <span>Movies<span class="de-em"></span></span>
              <small>Fique por dentro do que há de novo.</small>
            </h2>
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="features.htm">
                  <img src="resources/img/fast.jpg" alt="Feature 1" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Velozes e Furiosos 6 <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/star.jpg" alt="Feature 2" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Star Trek 2 <span class="de-em">Support</span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/sm2.jpg" alt="Feature 3" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Espetacular Homem Aranha <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/par3.jpg" alt="Feature 4" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Se Beber Não Case III <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>
          
          <div class="block features">
            <h2 class="title-divider">
              <span>Séries<span class="de-em"></span></span>
              <small>Fique por dentro do que há de novo.</small>
            </h2>
            <div class="row">
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/arrow2.jpg" alt="Feature 1" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Arrow <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/got2.jpg" alt="Feature 2" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Game Of Thrones <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/twd2.jpg" alt="Feature 3" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">The Walking Dead <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
              <div class="feature col-sm-6 col-md-3">
                <a href="#">
                  <img src="resources/img/niki.jpg" alt="Feature 4" class="img-responsive" />
                </a>
                <h3 class="title">
                  <a href="#">Nikita <span class="de-em"></span></a>
                </h3>
                <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <!-- ======== @Region: #footer ======== -->
      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col">
              <div class="block contact-block">
                <!--@todo: replace with company contact details-->
                <h3>
                  Contact Us
                </h3>
                <address>
                  <ul class="fa-ul">
                    <li>
                      <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                      99999999999999
                    </li>
                    <li>
                      <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                      email@gmail.com
                    </li>
                    <li>
                      <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                      UFC Campus Quixadá
                    </li>
                  </ul>
                </address>
              </div>
            </div>
            
            <div class="col-md-5 col">
              <div class="block">
                <h3>
                  About Us
                </h3>
                <p>Informações sobre os filmes e suas séries favoritas.</p>
              </div>
            </div>
            
            <div class="col-md-4 col">
              <div class="block newsletter">
                
              </div>
            </div>
          </div>
          
          <div class="row">
            <div id="toplink">
              <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
            </div>
            <!--@todo: replace with company copyright details-->
            <div class="subfooter">
              <div class="col-md-6">
                <p>Desenvolvido by <a href="appstraptheme.com">Márcio Souza</a> | Copyright 2014</p>
              </div>
              <div class="col-md-6">
                <!-- <ul class="list-inline footer-menu">
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--Hidden elements - excluded from jPanel Menu on mobile-->
      <div class="hidden-elements jpanel-menu-exclude">
        <!--@modal - signup modal-->
        <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">;</button>
                <h4 class="modal-title">
                  Sign Up
                </h4>
              </div>
              <div class="modal-body">
                <form action="signup.htm" role="form">
                  <h5>
                    Price Plan
                  </h5>
                  <select class="form-control">
                    <option>Basic</option>
                    <option>Pro</option>
                    <option>Pro +</option>
                  </select>
                  
                  <h5>
                    Account Information
                  </h5>
                  <div class="form-group">
                    <label class="sr-only" for="signup-first-name">First Name</label>
                    <input type="text" class="form-control" id="signup-first-name" placeholder="First name"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-last-name">Last Name</label>
                    <input type="text" class="form-control" id="signup-last-name" placeholder="Last name"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-username">Userame</label>
                    <input type="text" class="form-control" id="signup-username" placeholder="Username"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-email">Email address</label>
                    <input type="email" class="form-control" id="signup-email" placeholder="Email address"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="signup-password">Password</label>
                    <input type="password" class="form-control" id="signup-password" placeholder="Password"/>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="term"/>
                      I agree with the Terms and Conditions. 
                    </label>
                  </div>
                  <button class="btn btn-primary" type="submit">Sign up</button>
                </form>
              </div>
              <div class="modal-footer">
                <small>Already signed up? <a href="login.htm">Login here</a>.</small>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        
        <!--@modal - login modal-->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title">
                  Login
                </h4>
              </div>
              <div class="modal-body">
                <form action="login.htm" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="login-email">Email</label>
                    <input type="email" id="login-email" class="form-control email" placeholder="Email"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="login-password">Password</label>
                    <input type="password" id="login-password" class="form-control password" placeholder="Password"/>
                  </div>
                  <button type="button" class="btn btn-primary">Login</button>
                </form>
              </div>
              <div class="modal-footer">
                <small>Not a member? <a href="#" class="signup">Sign up now!</a></small>
                <br />
                <small><a href="#">Forgotten password?</a></small>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      
    
	</ui:define>

</ui:composition>