div.img
  {
  margin:5px;
  padding: 5px;
  border:1px solid #CCCCCC;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:5px;
  border:1px solid #ffffff;
  border-radius:10px;
  }
div.img a:hover img
  {
  border:1px solid #CCCCCC;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:5px;
  }