/* #img{
		background-color:#E6E6E6;
		background-image: url();
		box-shadow: 10px 10px 5px #888;
				
}
img {
  filter: gray; IE6-9
  -webkit-filter: grayscale(1); Google Chrome, Safari 6+ & Opera 15+
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; IE6-9
  -webkit-filter: grayscale(0); Google Chrome, Safari 6+ & Opera 15+
 
} */
.modal-static { 
    position: fixed;
    top: 50% !important; 
    left: 50% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}
.gallery
{
    display: inline-block;
    margin-top: 20px;
}

