<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets">
	 	
	    <div id="navigation" class="wrapper">
      <div class="navbar-static-top">
        
        <!--Hidden Header Region-->
        <div class="header-hidden">
          <div class="header-hidden-inner container">
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <h3>
                  About Us
                </h3>
                <p>Sómos um site com novidades sobre filmes e séries, tudo para manter você atualizado sobre suas 
                séries e filmes favoritos.</p> 
              </div>
              <div class="col-sm-4 col-md-4">
                <!--@todo: replace with company contact details-->
                <h3>
                  Contact Us
                </h3>
                <address>
                  <p>
                    <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
                    999999999999
                  </p>
                  <p>
                    <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
                    email@gmail.com
                  </p>
                  <p>
                    <abbr title="Address"><i class="fa fa-home"></i></abbr>
                    UFC Campus Quixadá
                  </p>
                </address>
              </div>
              <div class="col-sm-4 col-md-4">
                <!--Colour Switch for demo - @todo: remove in production-->
                <div class="colour-switcher">
                  <h3>
                    Divirta-se
                  </h3>
                  <p>Aproveite as novidades sobre séries e filmes e fique por dentro dos novos lançamentos.</p>
                  <p>Usuário Conectado: <h:outputLabel value="#{storageControll.name}" /></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Header & Branding region-->
        <div class="header">
          <div class="header-inner container">
            <div class="row">
              <div class="col-md-8">
                <!--branding/logo-->
                <h:link class="navbar-brand" outcome="/index">
                  <h1>
                    <span>Bandas</span>+<span></span>
                  </h1>
                  </h:link>
                <div class="slogan">Divulgue sua banda</div>
              </div>
              
              <!--header rightside-->
              <div class="col-md-4">
                <!--social media icons-->
                <div class="social-media">
                  <!--@todo: replace with company social media details-->
                  <a href="#"><img src="http://g.etfv.co/http://www.twitter.com/" alt="Twitter" width="25" height="25" class="fa fa-twitter"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://www.facebook.com" alt="Facebook" width="25" height="25" class="fa fa-facebook"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://www.logmein.com/" alt="Facebook" width="25" height="25" class="fa fa-linkedin"/></a>
                  <a href="#"><img src="http://g.etfv.co/http://plus.google.com" alt="Facebook" width="25" height="25" class="fa fa-google-plus"/></a>
                </div>
              </div>
            </div>
            <div id="header-hidden-link">
              <a href="#" title="Click me you'll get a surprise" class="show-hide" data-toggle="show-hide" data-target=".header-hidden"><i></i>Open</a>
            </div>
          </div>
        </div>
        
        <!--Change order for full width navbar <div class="navbar">
        <div class="container" data-toggle="clingify">
          --> 
          <div class="container" data-toggle="clingify">
            <div class="navbar">
              <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
              <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>
              
              <!--user menu-->
              <div class="btn-group user-menu pull-right">
              <a href="#signup-modal" class="btn btn-primary signup" data-toggle="modal">Sign Up</a>
              <a href="#login-modal" class="btn btn-primary dropdown-toggle login" data-toggle="modal">Login</a>
              <a href="../login.xhtml" class="btn btn-primary signup" data-toggle="modal">Logout</a>
              </div>
              
              <!--everything within this div is collapsed on mobile-->
              <div class="navbar-collapse collapse">
                <!--main navigation-->
                <ul class="nav navbar-nav">
                  <li class="home-link">
                    <a href="#"><span class="hidden">Home</span></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle menu-item" id="features-drop" data-toggle="dropdown" data-hover="dropdown">Features +</a> 
                    <!-- Dropdown Menu - Mega Menu -->
                    <ul class="dropdown-menu mega-menu" role="menu" aria-labelledby="features-drop">
                      <li role="presentation" class="dropdown-header">Mega Menu with links text items</li>
                      <li role="presentation">
                        <ul class="row list-unstyled" role="menu">
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="../resources/img/feature-1.png" alt="Feature 1" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>Mobile Friendly</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="../resources/img/feature-2.png" alt="Feature 2" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>24/7 Support</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                          <li class="col-md-4" role="presentation">
                            <a role="menuitem" href="#" class="img-link">
                              <img src="../resources/img/feature-3.png" alt="Feature 2" />
                            </a>
                            <a role="menuitem" href="#" tabindex="-1" class="menu-item"><strong>99% Uptime</strong></a>
                            <span>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!</span> 
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="pages-drop" data-toggle="dropdown" data-hover="dropdown">Pages +</a> 
                    <!-- Mega Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="pages-drop">
                    <li><h:link value="Upload" outcome="/pages/upload" /></li>
              		<li><h:link value="Delete" outcome="/pages/delete" /></li>
              		<li><h:link value="Download" outcome="/pages/download" /></li>
              		<li><h:link value="List" outcome="/pages/list" /></li>
              		<li><h:link value="Images" outcome="/pages/images" /></li>
              		<li><h:link value="Vídeos da Banda" outcome="/pages/videosBanda" /></li>                           
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="blog-drop" data-toggle="dropdown" data-hover="dropdown">Bandas</a> 
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="blog-drop">
                      <li><h:link value="Listar de Bandas" outcome="/pages/listaBandas" /></li>
                      <li><h:link value="Novo Filme" outcome="/pages/insereFilme" /></li>
                      <li><h:link value="Página da Banda" outcome="/pages/paginaBanda" /></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="more-drop" data-toggle="dropdown" data-hover="dropdown">Séries</a> 
                    <!-- Mega Menu -->
                    <ul class="dropdown-menu" role="menu" aria-labelledby="more-drop">
                    <li><h:link value="Nova Serie" outcome="/pages/insereSerie" /></li>
                  	  <li><h:link value="Lista Serie" outcome="/pages/listaSerie" /></li>
                  	  <li><h:link value="Página Séries" outcome="/pages/Series" /></li>
                    </ul>
                  </li>
                  <li>
                  <a href="#" class="dropdown-toggle" id="more-drop">
                  Bem Vindo
                  <h:outputLabel value="#{storageControll.name}" />
                  </a>
                  </li>
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
	
</ui:composition>