<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
	 	xmlns:ui="http://java.sun.com/jsf/facelets">

		      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col">
              <div class="block contact-block">
                <!--@todo: replace with company contact details-->
                <h3>
                  Contact Us
                </h3>
                <address>
                  <ul class="fa-ul">
                    <li>
                      <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                      99999999999999
                    </li>
                    <li>
                      <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                      email@gmail.com
                    </li>
                    <li>
                      <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                      Quixadá
                    </li>
                  </ul>
                </address>
              </div>
            </div>
            
            <div class="col-md-5 col">
              <div class="block">
                <h3>
                  About Us
                </h3>
                <p>Divulgue sua banda e fique por dentros das novas bandas que estão surgindo.</p>
              </div>
            </div>
            
            <div class="col-md-4 col">
              <div class="block newsletter">
                
              </div>
            </div>
          </div>
          
          <div class="row">
            <div id="toplink">
              <a href="#top" class="top-link" title="Back to top">Back To Top</a>
            </div>
            <!--@todo: replace with company copyright details-->
            <div class="subfooter">
              <div class="col-md-6">
                <p>Desenvolvido by <a href="appstraptheme.com">Márcio Souza</a> | Copyright 2014</p>
              </div>
              <div class="col-md-6">
                <!-- <ul class="list-inline footer-menu">
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </footer>
	 	

</ui:composition>