<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:f="http://java.sun.com/jsf/core"
 	  xmlns:ui="http://java.sun.com/jsf/facelets"
 	  >
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet> -->
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="theme-style.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="settings.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="prism.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="font-awesome.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="flexslider.css"></h:outputStylesheet>
 	<h:outputStylesheet library="css" name="custom-style.css"></h:outputStylesheet>
	<!-- <h:outputStylesheet library="css" name="bootstrap-responsive.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="bootstrap-responsive.min.css"></h:outputStylesheet> -->
	<h:outputStylesheet library="css" name="bootstrap-switch.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="clingify.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="marciomodal.css"></h:outputStylesheet>
	
	<h:outputScript library="js" name="marciomodal.js"></h:outputScript>
	<h:outputScript library="js" name="tabs.js"></h:outputScript>
	<!-- <h:outputScript library="js" name="jquery.js"></h:outputScript> -->
	<h:outputScript library="js" name="jquery.fileupload.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.fileupload-fp.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.fileupload-jui.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.fileupload-ui.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jquery.iframe-transport.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.media.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.metadata.js"></h:outputScript>
	<h:outputScript library="js" name="modal.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-typeahead.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-tooltip.js"></h:outputScript>
	<h:outputScript library="js" name="theme.js"></h:outputScript>
	<h:outputScript library="js" name="jquery-latest.js"></h:outputScript>
	
	<h:outputScript library="js" name="bootstrap-hover-dropdown.min.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap-switch.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.backstretch.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.clingify.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.fitvids.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.flexslider-min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.jpanelmenu.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.quicksand.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.themepunch.plugins.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery.themepunch.revolution.min.js"></h:outputScript>
	<h:outputScript library="js" name="jquery-migrate-1.2.1.min.js"></h:outputScript>
	<h:outputScript library="js" name="jRespond.js"></h:outputScript>
	<!-- <h:outputScript library="js" name="prism.js"></h:outputScript> -->
	<h:outputScript library="js" name="retina-1.1.0.min.js"></h:outputScript>
	<h:outputScript library="js" name="script.min.js"></h:outputScript>
	
	
	
	<link rel="shortcut icon" href="resouces/img/icon.png" type="image/x-icon" />
	
    <style>

    </style>
	
	
	
	<title>Bandas +</title>	
	
</h:head>
<h:body class="page page-index">


	<!-- <ui:insert name="cabecalho">
		<ui:include src="/WEB-INF/templates/cabecalho3.xhtml" />
	</ui:insert> -->

 <div>
	<ui:insert name="conteudo">	
	Espaço para o conteúdo da página.
	</ui:insert>
</div>
	 
</h:body>
</html>